MONGODB_URI=mongodb://<USERNAME>:<PASSWORD>@<MONGODB_HOST_1>:27017,<MONGODB_HOST_2>:27017,<MONGODB_HOST_3>:27017/webapp?replicaSet=<REPLICA_SET_NAME>&authSource=admin
PORT=3000
ALLOWED_ORIGINS=http://localhost:5173
